<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Imports -->
    <link rel="stylesheet" href="{{ url_for('public', path='vendor/css/pureCSS.css') }}">
    <link rel="stylesheet" href="{{ url_for('public', path='css/leftnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('public', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('public', path='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('public', path='vendor/css/Chart.css') }}">

    <title> {% block title %} {{title}} {% endblock %}</title>
  </head>
  <body>
      <!--SIDEBAR START-->
      <div id="nav" class="pure-u">
          <div class="menu-holder">
            <p class="nav-menu-button">{{ title }}</p>
          </div>

            <div class="nav-inner">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        <div class="menu-item-bg">
                            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Charts</a></li>
                        </div>

                        <div class="menu-item-bg">
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Reader</a></li>
                        </div>

                        <div class="menu-item-bg">
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Upload</a></li>
                        </div>

                        <li class="pure-menu-heading">Admin</li>

                        <div class="menu-item-bg">
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Manage</a></li>
                        </div>

                        <div class="menu-item-bg">
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Storage</a></li>
                        </div>
                    </ul>

                    <div class="sidebar-footer">
                        <small>Document Management</small> <br>
                        <small>2020 by Brett Jouwstra</small>
                    </div>
                </div>
            </div>
        </div>
    <!-- END SIDEBAR -->
    <!-- MAIN BODY -->
        <div class="title-bar">
            <p>Server Date: {{ today_time }} </p>
        </div>

        <div class="content">

            <div class="box" id="box-1">
                <img src="https://storage.googleapis.com/template-design/icons/svg_icons_big-list/subway/document-3.svg">
                <h4 class="box-title">Documents in Repository</h4>
                <h4 class="box-data">{{ count_files }}</h4>
            </div>

            <div class="box" id="box-2">
                <img src="https://storage.googleapis.com/template-design/icons/svg_icons_big-list/icons/material/clear-all.svg">
                <h4 class="box-title">Document Categories</h4>
                <h4 class="box-data">{{ doc_cat }}</h4>
            </div>

            <div class="box" id="box-3">
                <img src="https://storage.googleapis.com/template-design/icons/svg_icons_big-list/icons/material/face.svg">
                <h4 class="box-title">Site Owner</h4>
                <h4 class="box-data">Brett Jouwstra</h4>
            </div>
        </div>
        <div class="section">
            <canvas id="myChart"></canvas>
        </div>

        <div class="doc-list">
            <h3>Documents</h3>
            <ol id="modal-holder">
                <!-- Programitcally filled using req.js -->
            </ol>
        </div>
    <!-- END BODY -->

    <!-- MODAL -->
    <div class="modal-bg">
        <div class="modal">
            <embed id="modal-content" height="100%" width="100%" src="">
            <span class="modal-close">X</span>
        </div>
    </div>
    <!--END MODAL-->

    <!-- SCRIPT Imports -->
    <script src="{{ url_for('public', path='vendor/js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('public', path='vendor/js/Chart.js') }}"></script>
    <script src="{{ url_for('public', path='js/modal.js') }}"></script>
    <script src="{{ url_for('public', path='js/req.js') }}"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        let label_list = {{ list_cats|safe }}; //The safe is critical
        let counter = {{ actual_cnt|safe }};
        let new_label = [];
        let new_cnt = [];
        for (key in counter) {
            new_label.push(key)
            value = counter[key]
            new_cnt.push(value)
        }
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: new_label,
                datasets: [{
                    label: 'Documents by Category',
                    data: new_cnt,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

  </body>
</html>